<div class="container card my-2 align-items-center ">
  <div class="row ">
    <div class="col">
      <table class="table table-striped table-bordered table-hover caption-top">
        <caption>The applications to your program</caption>
        <thead>
          <tr>
            <th>User photo</th>
            <th>Program</th>
            <th>Applicant Name</th>
            <th>Submitted on</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @applications.each do |application| %>
            <tr>
              <td><%= cl_image_tag application.user.photo.key, height: 150, width: 200, crop: :fill, :alt=>"Applicant user photo" %></td>
              <td><%= application.program.title %></td>
              <td><%= application.user.first_name %> <%= application.user.last_name %></td>
              <td><%= application.created_at.strftime("%m/%d/%y at %l:%M %p") %></td>
              <td><%= application.status %></td>
              <td><%= link_to "See & Respond", program_application_path(application.program_id, application.id), data: { turbo: :true }, method: :get, class: 'badge bg-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
