<%# tabs %>
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3 bg-dark col-lg-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Saved programs</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Edit profile</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Applied to programs</button>
  </div>
  <%# tab content %>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <% if @programs.empty? %>
        <div class="container">
          <div class="row">
            <div class="col-lg border card">
              You haven't saved any programs yet, explore them <%= link_to 'Browse Programs Now', programs_path   %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p>The programs that you've previously saved.  Apply to them now!</p>
      <div class="containe ">
        <div class="row">
          <div class="col-lg-5 border">
            <% @programs.each do |program| %>
              <%= render partial: 'programs/program_card_index', locals: {program: program} %>
            <% end %>
          </div>
          <div id="index_saved_programs", class="col-lg card border p-2 ms-2">
            <p>Select one of the programs that you're previously saved on the left and its information will load here for you</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>The programs that you've applied to and their status</p>
          <% @applications.each do |application| %>
            <%= render partial: 'applications/application_user_dashboard_card', locals: {application: application} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    <p>Two column experiment</p>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg">
          <% @programs.each do |program| %>
            <%= render partial: 'programs/program_card_index', locals: {program: program} %>
          <% end %>
        </div>
        <div class="col-12 col-lg border">
          <% @programs.each do |program| %>
            <%= render partial: 'programs/program_card_index', locals: {program: program} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
    test4
  </div>
</div>
</div>
